/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.bodybg{
	-fx-background-image: url("/application/UTSAIMAGE.jpg");
	-fx-background-size: 100% 100%;
}